{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	],
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true
}
