/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-filsonPro text-2xl sm:text-3xl font-bold antialiased;
	}
	h2 {
		@apply font-niveauGrotesk text-4xl-a leading-[2.5rem] xs:text-[2.8rem] xs:leading-[3rem] sm:text-4xl-b sm:leading-[3.5rem] font-normal antialiased;
	}
	h3 {
		@apply font-filsonPro text-2xl font-bold antialiased;
	}
	h4 {
		@apply font-niveauGrotesk text-2xl font-medium antialiased;
	}
	h5 {
		@apply font-filsonPro text-lg font-medium antialiased;
	}
	h6 {
		@apply font-niveauGrotesk text-base font-normal antialiased;
	}
	p {
		@apply font-niveauGrotesk text-base font-normal antialiased text-edlDeepBlue dark:text-ashenMidContrast-dark;
	}
	.hero-title {
		@apply font-niveauGrotesk text-4xl-a leading-[2.5rem] xs:text-[2.8rem] xs:leading-[3rem] sm:text-4xl-b sm:leading-[3.5rem] font-medium antialiased;
	}
	.sm-title {
		@apply font-niveauGrotesk text-sm font-normal uppercase tracking-wide antialiased;
	}
	.sm-subhead {
		@apply font-filsonPro text-xs font-medium antialiased;
	}
	.caption {
		@apply font-filsonPro text-sm font-normal antialiased;
	}
}

a.anchor-tag {
	display: block;
	position: relative;
	top: -6rem;
	visibility: hidden;
}

html {
	background-color: #141928;
}

.modal-open {
	height: 100vh;
	overflow-y: hidden;
}

#dev-card-content,
#dev-card-excerpt {
	white-space: pre-line;
}

.grecaptcha-badge {
	visibility: hidden;
}

.slide-left-right {
	text-decoration: none;
	display: inline-block;
}

/* add a empty string after the elment with class .slide-left-right */
.slide-left-right:after {
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width 0.35s ease, background-color 0.35s ease; /* .5 seonds for changes to the width and background-color */
	-webkit-transition: width 0.35s ease, background-color 0.35s ease; /* Chrome and Safari */
	-moz-transition: width 0.35s ease, background-color 0.35s ease; /* FireFox */
}

/* Change the width and background on hover, aka sliding out */
.slide-left-right:hover:after {
	width: 100%;
	background: #2f75d6;
}

.slide-left-right:hover {
	color: #2f75d6;
}

input {
	@apply w-full block h-8 align-bottom border-b border-ashenLowContrast-light rounded-none dark:border-b pt-3 font-niveauGrotesk text-xl font-normal bg-transparent dark:text-ashenHighContrast-dark dark:border-ashenLowContrast-dark;
}

input:focus {
	@apply focus:outline-none focus:border-b focus:border-edlBrightBlue;
}

@media (max-width: 640px) {
	textarea,
	input {
		font-size: 1rem;
	}

	textarea::placeholder,
	input::placeholder {
		font-size: 1rem;
	}
}

label {
	@apply text-xs tracking-wider uppercase text-ashenMidContrast-light mb-2 block opacity-60;
}

.nav-item {
	@apply dark:text-edlLtGray;
}

textarea {
	font-size: 1.25rem;
	background-image: linear-gradient(to right, transparent 10px, transparent 10px),
		linear-gradient(to left, transparent 10px, transparent 10px),
		repeating-linear-gradient(
			transparent 0rem,
			transparent 1.6rem,
			#9ca6b6 1.6rem,
			transparent 1.7rem,
			transparent 2rem /*This needs to match the lineheight*/
		);
}

textarea.dark {
	background-image: linear-gradient(to right, transparent 10px, transparent 10px),
		linear-gradient(to left, transparent 10px, transparent 10px),
		repeating-linear-gradient(
			transparent 0rem,
			transparent 1.6rem,
			#545866 1.6rem,
			transparent 1.7rem,
			transparent 2rem /*This needs to match the lineheight*/
		);
}

textarea:focus {
	outline: transparent;
	background-image: linear-gradient(to right, transparent 10px, transparent 10px),
		linear-gradient(to left, transparent 10px, transparent 10px),
		repeating-linear-gradient(
			transparent 0rem,
			transparent 1.6rem,
			#38aaff 1.6rem,
			transparent 1.7rem,
			transparent 2rem /*This needs to match the lineheight*/
		);
}

table {
	@apply w-full content-center items-center;
}

.callout-table {
	@apply border-separate rounded-md overflow-hidden mt-2;
}

table tr:first-child td:first-child {
	@apply rounded-tl-lg;
}
table tr:first-child td:last-child {
	@apply rounded-tr-lg;
}
table tr:last-child td:first-child {
	@apply rounded-bl-lg;
}
table tr:last-child td:last-child {
	@apply rounded-br-lg;
}
